{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Recommender</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>
{% include 'movie/navbar.html' %}

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                What movie would you like to find?
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-offset-4 is-4">
                <form method="POST">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            {% csrf_token %}
                            {{form.name}}
                        </div>
                        <div class="control">
                            <button type="submit" name="search_movie" class="button is-info">
                                Search Movie
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-offset-4 is-4">
                {% if movies %}
                <div class="box">
                    <table class="table table-bordered">
                        <thead>

                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Movie</th>
                            <th scope="col">Rating</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--                        hello-->
                        {% for movie in movies %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <!--                            <td><a href="http://127.0.0.1:8000/?name={{ movie }}">{{ movie }}</a></td>-->
                            <td>
                                <a type="button" data-toggle="modal"
                                   data-target="#myModal{{movie}}">
                                    {{movie.0}}
                                </a>
                            </td>
                            <td>{{movie.3}}</td>
                            <td>
                                <a type="button" data-toggle="modal"
                                   data-target="#addModal{{movie}}">
                                    Add
                                </a>
                            </td>


                            <!-- Modal Movie Info-->
                            <div class="modal fade" id="myModal{{movie}}" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalTitle"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalTitle">Movie Info</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <b>Title:</b> {{movie.0}}
                                            <br>
                                            <b>Director:</b> {{movie.1}}
                                            <br>
                                            <b>Cast:</b> {{movie.2}}
                                            <br>
                                            <b>Rating:</b> {{movie.3}}
                                            <br>
                                            <b>Plot:</b> {{movie.4}}
                                            <br>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal Add Movie  -->
                            <div name=modal_movie class="modal fade" id="addModal{{movie}}" tabindex="-1" role="dialog"
                                 aria-labelledby="addModalTitle"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="addModalTitle">Add Movie to List</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            {% for movie_list in user_movie_lists %}
                                            <form action="{% url 'add_movie' pk=movie_list.id %}" method="get">
                                                {% csrf_token %}
                                                {{movie.0}} <button type="submit">Add</button> to {{movie_list}}
                                                <br>
                                             </form>
                                            {% endfor %}

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </tr>

                        </tbody>
                        {% endfor %}
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>


<footer class="footer">
</footer>


</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</html>