{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Login</title>

	<link rel="stylesheet" href="{% static 'css/login_register.css' %}">


</head>



<body>
	{% include 'movie/navbar.html' %}

	<div class="user-card">
		<h3 class="form-title">Login</h3>

		<form method="POST" action="">
			{% csrf_token %}
			<input class="form-input" type="text" name="username" placeholder="Username">
			<input class="form-input" type="password" name="password" placeholder="Password">
			<input class="login-button" type="submit" value="Login">
		</form>

		{% for message in messages %}
		<p class="error-message">{{message}}</p>
		{% endfor %}

		<div class="no-account">
			Don't have an account? <a href="{% url 'register' %}" class="ml-2 sign-up">Sign Up</a>
		</div>
	</div>
</body>

</html>