{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Your Movie Lists</title>

    <link rel="stylesheet" href="{% static 'css/movies.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>
    {% include 'movie/navbar.html' %}

    <script>
        function clicked(e) {
            if (!confirm('Are you sure?')) {
                e.preventDefault();
            }
        }
    </script>

    <div class="container">
        {% if movies_in_list %}
        <div class="card">
            <table>
                <tbody>
                    {% for movie in movies_in_list %}
                    <tr>
                        <td class="movie-index">{{ forloop.counter }}</td>
                        <td class="movie-name"><a type="button" data-toggle="modal"
                                data-target="#myModal{{movie}}">{{movie.name}}</a></td>
                        <td class="delete-button-container"><a class="delete-button"
                                href="{% url 'remove_movie' movie.id %}" onclick="clicked(event)">Remove</a></td>
                    </tr>

                    <!-- Modal Movie Info -->
                    <div class="modal fade" id="myModal{{movie}}" tabindex="-1" role="dialog" aria-labelledby="myModalTitle"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myModalTitle">{{movie.name}}</h5>
                                </div>
                                <div class="modal-body">
                                    <b>Release Year:</b> {{movie.release_year}}
                                    <br>
                                    <b>Genres:</b> {{movie.genres}}
                                    <br>
                                    <b>Director:</b> {{movie.director}}
                                    <br>
                                    <b>Cast:</b> {{movie.cast}}
                                    <br>
                                    <b>Rating:</b> {{movie.rating}}
                                    <br>
                                    <b>Plot:</b> {{movie.plot}}
                                    <br>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="close-button btn btn-secondary" data-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </tbody>
            </table>
        </div>

        <a class="back-button" href="{% url 'movie_lists' %}">Back</a>
        {% else %}
        <p class="no-movies-message">You don't have any movies in this list yet.</p>

        <a class="back-button" href="{% url 'movie_lists' %}">Back</a>
        {% endif %}
    </div>
</body>

</html>