<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Movie Lists</title>

</head>
<body>

{% include 'movie/navbar.html' %}

<div class="col-md-5">
    <h5>Your Movie Lists:</h5>
    <hr>
    <div class="card card-body">
        <a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_list' %}">Create New Movie List</a>
        <table class="table table-sm">
            <tr>
				<th>View</th>
                <th>Movie list</th>
				<th>Remove</th>
            </tr>

            {% for list in user_movie_lists %}
            <tr>
                <td><a class="btn btn-sm btn-info" href="{% url 'movies' list.id %}">View</a></td>
                <td>{{list}}</td>
				<td><a class="btn btn-sm btn-danger" href="{% url 'delete_list' list.id %}">Delete</a></td>
            </tr>
            {% endfor %}

        </table>
    </div>
</div>
</body>


