<style>
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        font-family: sans-serif;
    }

    .title {
        color: white;
        margin: 0 30px 0 20px !important;
        padding: 0;
        font-size: 25px;
        font-weight: 700;
        text-decoration: none;
        transition: color 0.2s;
    }

    .title:hover {
        color: rgb(187, 187, 187);
        text-decoration: none;
    }

    .spacer {
        flex: 1;
    }

    .nav-text,
    .nav-link {
        color: white;
        margin: 0 25px 0 0;
        padding: 0;
        font-size: 22px;
        font-weight: 500;
        text-decoration: none;
    }

    .nav-link:hover {
        color: #ff5233;
        text-decoration: none;
    }
</style>

<nav>
    <a class="title" href="{% url 'home' %}">Movie Recommender</a>

    <a class="nav-link" href="{% url 'home' %}">Home</a>

    {% if user.is_authenticated %}
    <a class="nav-link" href="{% url 'movie_lists' %}">Your Movies</a>
    {% endif %}

    <div class="spacer"></div>

    {% if user.is_authenticated %}
    <p class="nav-text">Hello, {{request.user}}</p>
    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a class="nav-link" href="{% url 'login' %}">Login</a>
    <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
    {% endif %}
</nav>