<style>
  .hello-msg {
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
</style>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Movie Recommender</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'movie_lists' %}">Your Movies</a>
        </li>
      {% endif %}

    </ul>


    <!--    <form class="form-inline my-2 my-lg-0">-->
    <!--        -->
    <!--        -->
    <!--        -->
    <!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
    <!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Movie</button>-->
    <!--        -->
    <!--    </form>-->
  </div>

  {% if user.is_authenticated %}
    <span class="hello-msg">Hello, {{request.user}}</span>
    <span><a class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
  {% else %}
    <span><a class="hello-msg" href="{% url 'login' %}">Login</a></span>
    <span><a class="hello-msg" href="{% url 'register' %}">Sign Up</a></span>

  {% endif %}

</nav>