{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Register Account</title>

<!--	<link rel="stylesheet" href="{% static 'css/signup.css' %}">-->
	<link rel="stylesheet" href="{% static 'css/login_register.css' %}">

</head>

<body>
	{% include 'movie/navbar.html' %}

	<div class="user-card">
		<h3 class="form-title">Register Account</h3>

		<form method="POST" action="">
			{% csrf_token %}
			<input class="form-input" type="text" name="username" placeholder="Username">
			<input class="form-input" type="text" name="email" placeholder="Email">
			<input class="form-input" type="password" name="password1" placeholder="Password">
			<input class="form-input" type="password" name="password2" placeholder="Re-enter Password">

			<input class="login-button" type="submit" value="Register">
		</form>
		{{form.errors}}
		<div class="already-have-account">
			Already have an account? <a href="{% url 'login' %}" class="ml-2 login">Login</a>
		</div>
	</div>
</body>

</html>